/* 1. The Background (The Desk) */
body {
    background-image: url('art.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 
p {
  font-size: 24px;
}
.container {
    background-color: rgba(60, 100, 250, 0.50);
    padding: 100px;
    border-radius: 0px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    /* The Font */
    font-family: monospace;
    color: hsl(30, 90%, 50%);

}
.container ul {
    font-size: 18px;
}



